@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
:root{
    --borderradius:0px;
    --color:rgb(255, 255, 255);
    --blur:0px;
    --rotate:0deg;
}
body{
    background:rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    background:url('./aurora_sky-wallpaper-1920x1080.jpg');   
}

.container{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');    
    padding: 15px 15px;
    border-radius:var(--borderradius) ;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.controls :last-child{
    width:50px;
    height: 20px;
}
.controls input,label{
    margin-right: 20px;
}
img{
    padding: 10px;
    margin: 10px 10px;
    background-color:var(--color);
    filter: blur(var(--blur));
    border-radius: var(--borderradius);
    transform: rotateY(var(--rotate));
}
label{
    font-size: 24px;
    font-weight: 600;
    color:var(--color);
    border-radius: var(--borderradius);
    background:white;
    padding: 5px 5px;
    border: 2px solid rgb(0, 0, 0);
}
input{
    width: 100px;
    border-radius: 10px;
}

@media screen and (max-width:360px){
    .container{
        width: 250px;
        height: 70vh;  
    }
    .controls{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        position: absolute;
    }
    label{
        font-size: 18px;
        margin-bottom: 5px;
    }
    img{
        width: 250px;
        height: 250px;
        position: absolute;
        top: 50%;       
}